*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgb(17, 15, 15);
    color:white;
    height:1000px;
    padding:90px 0px 20px 200px; 
}
#header{
    display:flex;
    justify-content: space-between;
    background-color:rgb(10, 10, 10);
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:80px;
    z-index:10000000;
}
.left-section{
    display:flex;
    width:250px;
    align-items:center;
    padding:10px;

}

.hamburger-logo{
    height: 60%;
    border-radius:100%;
}

#hamburger-logo{
    background-color: transparent;
    border:none;
}

#hamburger-logo:hover{
    filter:invert(100%)
}

.youtube-logo{
    width:40px;
    border-radius:10px;
    margin-left:20px;
    margin-right:8px;
}
.center-section{
    display:flex;
    width:60%;
    align-items:center;
}

.center-section input{
    height:60%;
    width:550px;
    padding:10px;
    margin-left:50px;
    border-radius: 30px 0px 0px 30px;
    background-color:rgb(46, 43, 43);
    color:beige;
    border:1px solid rgb(211, 202, 202);
    font-size:medium;
    font-weight:bold;
}

.search-icon{
    height:30%;
    width:27px;
    filter:invert(100%);
    padding:11px;
    margin-right:20px;
    margin-left:-1;
    border-radius: 0px 30px 30px 0px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(214, 195, 195);
}

.center-section input::placeholder{
    color:rgb(224, 217, 217);
    font-size: medium;
    padding-left:10px;
    
}

.center-section input:focus{
    outline: none;
}

.voice-search-icon{
    height:60%;
    width:45px;
    border-radius:100% ;
}

.right-section{
    display:flex;
    flex-direction:row;
    width: 300px;
    align-items:center;
    justify-content: space-around;
    background-color:rgba(10, 10, 10, 0);


}

.user-image{
    width:60px;
    border-radius: 100%;
}

.notification-icon{
    width:40px;
    border-radius: 100%;

}

.right-section #Tplus,#plus{
    margin:10px;
    vertical-align:bottom;
    border:1px solid grey;
    border-radius: 28px;
    padding:6px;
    background-color:rgb(10, 10, 10);
}

#plus{
    display:none;
    font-size:18px;
}

#plus span{
    background-color: rgb(10, 10, 10);

}

#Tplus span{
    background-color: rgb(10, 10, 10);

}

#Tplus{
    display:none;
    font-size:18px;
}

@media (max-width:430px){
    body{
        padding:80px 7px 7px;
    }

    #header{
        height: 60px;
    }

    .left-section p
    {
        display:none;
    }

    .left-section{
        padding: 0px 0px;
        width:65px;
    }

    .youtube-logo{
        width:23px;
        height:18px;
        border-radius:10px;
        margin-left:0px;
        margin-right:1px;
        
    }

    .hamburger-logo{
        margin-left:0px;
        width:22px;
    }

    .center-section input{
        margin-left:7px;
        width:140px;
        height:55%;
    }

    .center-section input::placeholder{
        font-size:14px;
    }

    .search-icon{
        height:15%;
        width:9px;
        margin-right:5px;
    }
    
    .voice-search-icon{
        width:30px;
        height: 45%;
    }

    #plus{
        display:inline-block;
        border-radius:100%;
        padding:0px 3px;
        background-color: transparent;
    }

    .right-section{
        width: 120px;
    }

    .user-image{
         width:35px;
    }

    .notification-icon{
         width:25px;
    }

}

@media (min-width:501px){

    #Tplus{
        display:inline-block;
    }
}